<div id="guide5" class="guide-component">
  <% @messages.each do |message| %>
    <% if message.address.present? %>
    <p><%= image_tag(message.address.url, class: "img-responsive", alt: "message") %></p>
    <% end %>
    <p><%= image_tag(message.message.url, class: "img-responsive", alt: "message") %></p>
    <p class="text-center font-big">[差出人] <%= message.owner.name %></p>
    <br>
    <div class="button">
    <a href="/messages/new?owner='<%= message.owner_id %>'"><span>サンプルテキスト</span></a>
    </div>
    <hr>
  <% end %>
</div>
