 <div class="row">
  <div class="col-md-12">
    <div class="box">
    <div class="box-header">
    <h3 class="box-title">メッセージ</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
    <% @messages.each do |message| %>
      <% if message.address.present? %>
      <p><%= image_tag(message.address.url, class: "img-responsive", alt: "message") %></p>
      <% end %>
	  	<p><%= image_tag(message.message.url, class: "img-responsive", alt: "message") %></p>
	  	<br>
	  	<%= link_to "このメッセージに返信する", new_message_path(owner: message.owner_id), class: "btn btn-lg btn-block btn-primary" %>
	  <% end %>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
	  	<div class="clearfix"></div>
    </div>
    </div>
  </div>
</div>