 <div class="row">
  <div class="col-md-12">
    <div class="box">
    <div class="box-body">
    <h2 class="text-center">あなたへのお手紙</h2>
    <% @messages.each do |message| %>
      <% if message.address.present? %>
      <p><%= image_tag(message.address.url, class: "img-responsive", alt: "message") %></p>
      <% end %>
	  	<p><%= image_tag(message.message.url, class: "img-responsive", alt: "message") %></p>
      <p class="text-center font-big">[差出人] <%= message.owner.name %></p>
	  	<br>
	  	<%= link_to "このメッセージに返信する", new_message_path(owner: message.owner_id), class: "btn btn-lg btn-block btn-primary" %>
      <hr>
	  <% end %>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
	  	<div class="clearfix"></div>
    </div>
    </div>
  </div>
</div>