<div id="guide8" class="guide-component">
	　
	<div class="button1">
		<a href="/receives"><span>サンプルテキスト</span></a>
	</div>

	<div class="button2">
		<a href="/receives"><span>サンプルテキスト</span></a>
	</div>

	<div class="button3">
		<a href="/receives"><span>サンプルテキスト</span></a>
	</div>

	<div class="button4">
		<a href="/receives"><span>サンプルテキスト</span></a>
	</div>

</div>