<div id="guide5" class="guide-component">
　　　　　　　
	<%= image_tag(@message.message.url, class: "img-responsive", alt: "message") %>
	　
	<div class="button">
		<a href="/tutorial/complete"><span>サンプルテキスト</span></a>
	</div>

</div>