 <div class="row">
  <div class="col-md-12">
    <div class="box">
    <div class="box-header">
    <h3 class="box-title">メッセージ一覧</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
    	<div class="pull-right">
	  	<%= link_to "新規通知を作成する", new_x_notification_path, class: "btn btn-lg btn-primary" %>
	  	</div>
	  	<div class="clearfix"></div>
	  	<br>
      <table class="table table-striped">
      <tr>
        <th class="col-lg-6 text-center">メッセージ</th>
        <th class="col-lg-2 text-center"></th>
      </tr>
      <% @messages.each do |message| %>
      <tr>
        <td class="text-left"><%= message.text %></td>
        <td class="text-center"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <% end %>
      </table>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
    </div>
    </div>
  </div>
</div>
