.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: #222;
	cursor: inherit;
	display: block;
}

.img-responsive {
	margin: 0 auto;
}

.font-big {
	font-size: 24px;
}

.table td.v {
	vertical-align: middle;
}

.guide-component {
	height: 1128px;
}

#guide1 {
	background: url("guide1.png") no-repeat;
  -webkit-background-size: 800px 1128px;
  background-size: 800px 1128px;
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

#guide1 .button {
	background: url("guide1_btn1_hover_Y1030.png") no-repeat;
	margin-top: 686px;
	margin-left: 130px;
}
#guide1 .button a {
	width: 626px;
	display: block;
	background: url("guide1_btn1_Y1030.png") no-repeat;
	text-align: left;
}
#guide1 .button a span {
	height: 93px;
	display: block;
	text-indent: -9999px;
}
#guide1 .button a:hover {
	background: none;
}

