.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: #222;
	cursor: inherit;
	display: block;
}

.img-responsive {
	margin: 0 auto;
}

#guide1 {
	background: url("guide1.png") left top no-repeat !important;
	height: 1920px;
	width: 1000px;
}

#guide1 .top-100 {
	margin-top: 100px;
}

#guide1 .left-100 {
	margin-left: 100px;
}
