.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: #222;
	cursor: inherit;
	display: block;
}

.img-responsive {
	margin: 0 auto;
}

#guide1 {
	background: url("guide1.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*	width: 1200px;
	height: 1920px;
	display:block;
	-webkit-background-size: 1200px 1900px;
	-moz-background-size: 1200px 1900px;
	-o-background-size: 1200px 1900px;
	-ms-background-size: 1200px 1900px;*/
}
#guide1 .button {
	background: url("guide1_button_hover.png") no-repeat;
	margin-top: 500px;
	margin-left: 75px;
}
#guide1 .button a {
	width: 910px;
	display: block;
	background: url("guide1_button.png") no-repeat;
	text-align: left;
}
#guide1 .button a span {
	height: 135px;
	display: block;
	text-indent: -9999px;
}
#guide1 .button a:hover {
	background: none;
}

